/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}

/* 8. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

/* GENERAL STYLING  */

body {
    display: flex;
    justify-content: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

button {
    appearance: none;
    background-color: rgb(0, 0, 0, 0);
    border: none;
    color: white;
    font-weight: bold;
}

/* HEADER  */

header {
    background-color: black;
    color: white;
    width: clamp(500px, 1400px, 90%);
    border-radius: 20px;
    margin: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px clamp(80px, 80px, 20px);
}

h1 {
    font-weight: 400;
}

ul {
    display: flex;
    gap: 2em;
    font-size: 2rem;
}

li .selected, button:hover {
    border-bottom : 10px solid orangered;
}
